@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #ceecf3;
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
}


.menu-bar {
  background: #36648b;
  text-align: center;
}


.menu-bar ul {
  display: flex;
  list-style: none;
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
}


.menu-bar ul li {
  margin: 13px;
  padding: 13px;
  flex: 1 0 120px;
  position: relative;
}


.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}


.active,
.menu-bar ul li:hover {
  background: #1FBCDA;
  border-radius: 5px;
}


.sub-menu {
  display: none;
}


.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #1FBCDA;
  left: 0;
  right: 0;
}


.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 2px;
}


.menu-bar ul li:hover .sub-menu ul li {
  padding: 10px;
  border-bottom: 1px dotted #fff;
  border-radius: 0;
  text-align: center;
}


.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}


.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #36648b;
}





main {
  margin: 20px;
  border-radius: 10px;
}


.GridTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px;
}


.Prvi,
.Drugi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}


.Slika {
  display: flex;
  align-items: center;
  justify-content: center;
}


.Slika img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}





.footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 0;
}
.footer a {
  text-decoration: none;
  border-bottom: none;
  margin: 12px;
}




@media (max-width: 768px) {
  .menu-bar ul li {
    flex-basis: 50%;
  }
  .GridTemplate {
    grid-template-columns: 1fr;
  }
}

