@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;500&display=swap');


*{
    padding:0;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body{
    
    background-color: #ceecf3;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}


.menu-bar {
  background: #36648b;
  text-align: center;
}


.menu-bar ul {
  display: flex;
  list-style: none; 
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
}


.menu-bar ul li {
  margin: 13px;
  padding: 13px;
  flex: 1 0 120px; 
  position: relative;
}


.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}


.active,
.menu-bar ul li:hover {
  background: #1FBCDA;
  border-radius: 5px;
}


.sub-menu {
  display: none; 
}


.menu-bar ul li:hover .sub-menu {
    display: block;
    position:absolute;
    background-color: #1FBCDA;
    left: 0;
    right:0;
  }
  

.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 2px;
}


.menu-bar ul li:hover .sub-menu ul li {
  padding: 10px;
  border-bottom: 1px dotted #fff;
  border-radius: 0;
  text-align: center;
}


.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none; 
}


.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #36648b;
}





.des{
    text-align: center;
    color: #36648b;
    margin-top: 70px;
}


.container{
    position: relative;
    width: 1200px;
    height:300px;
    margin:10px auto;
    
}


.container .box{ 
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #36648b;
    float:left;
    margin: 15px; 
    box-sizing:border-box;
    overflow: hidden;
    border-radius: 10px;
}


.container .box .name{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #1FBCDA ;
    transition:0.5s;
    z-index:1;

}



.container .box:hover .name{
    top:20px;
    left:calc(50% - 40px);
    width: 100px;
    height: 80px;
    text-align: center;
}


.container .box .name .name1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:30px;
    transition: 0.5s;
    color:#fff;
}

/*treat p se smanjuje kada prijedes misem*/
.container .box:hover .name .name1{
    font-size: 20px;
}


.container .box .content{
    position: absolute;
    text-align: center;
    padding: 20px;
    opacity: 0;
}


.container .box:hover .content{
    top: 100px;
    opacity: 1;
}


.container .box .content p{
    margin:0;
    padding: 0px;
    color: #fff;
}






.footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  z-index: 0;
}


.footer a {
  text-decoration: none;
  border-bottom: none;
  margin: 12px;
}





@media screen and (max-width: 768px) {
  .menu-bar ul li {
    flex-basis: 50%;
  }

  .container {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}